[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
mesa = "*"
solara = "*"
jupyterlab = "*"
notebook = "*"
mesa-viz-tornado = {ref = "b4e9cae550a6ef1580dd906a5f9a1b8c51726aa8", git = "git+https://github.com/projectmesa/mesa-viz-tornado.git"}

[dev-packages]

[requires]
python_version = "3.10"
